.blockPerson {
  display: flex;
  gap: 30px;
  align-items: center;
  background: #F4811A;
  padding: 15px;
  width: 30%;
}

.blockPerson img {
  width: 150px;
  height: 200px;
}

.personName {
  font-size: 25px;
}